In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("学生成绩.csv",encoding="GBK")

In [2]:
df.head()

          学号    姓名    班级 性别  出生年份  籍贯  数学   语文  英语
0  166241101   童绮琴  信管19  男  2001  天津  99   71  65
1  166241102   酆友容  信管20  女  2002  广西  81   64  52
2  166241103  端木孤菱  信管21  男  2002  湖南  67   90  98
3  166241104   闳芳苓  信管22  女  2002  湖北  89  100  90
4  166241105   温靖易  信管23  女  2002  吉林  80   70  77