In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("学生成绩.csv",encoding="GBK")

df.head()

          学号    姓名    班级 性别  出生年份  籍贯  数学   语文  英语
0  166241101   童绮琴  信管19  男  2001  天津  99   71  65
1  166241102   酆友容  信管20  女  2002  广西  81   64  52
2  166241103  端木孤菱  信管21  男  2002  湖南  67   90  98
3  166241104   闳芳苓  信管22  女  2002  湖北  89  100  90
4  166241105   温靖易  信管23  女  2002  吉林  80   70  77

In [2]:
#查看性别列的类型
df["性别"].dtype

dtype('O')

In [3]:
#转换为分类型
df["性别"]=df["性别"].astype("category")

In [4]:
#查看性别列的类型
df["性别"].dtype

CategoricalDtype(categories=['女', '男'], ordered=False, categories_dtype=object)

In [5]:
#0-1独热编码
pd.get_dummies(df["性别"])

        女      男
0   False   True
1    True  False
2   False   True
3    True  False
4    True  False
5    True  False
6   False   True
7    True  False
8   False   True
9    True  False
10   True  False
11   True  False
12   True  False
13  False   True
14   True  False
15   True  False
16  False   True
17  False   True
18  False   True
19  False   True
20  False   True
21   True  False
22  False   True
23   True  False
24  False   True
25   True  False
26   True  False
27   True  False
28   True  False
29  False   True
30  False   True
31  False   True
32  False   True
33  False   True
34   True  False
35  False   True
36  False   True
37   True  False
38   True  False
39   True  False
40   True  False
41  False   True
42   True  False
43   True  False
44  False   True
45  False   True
46  False   True
47  False   True
48  False   True
49  False   True
50   True  False
51   True  False
52  False   True
53  False   True
54   True  False
55  False   True
56  False   True

In [6]:
#序数编码
pd.factorize(df["性别"])

(array([0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
        0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1,
        0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0], dtype=int64),
 CategoricalIndex(['男', '女'], categories=['女', '男'], ordered=False, dtype='category'))

In [9]:
#获取所有不同的类别
df["性别"].cat.categories

Index(['女', '男'], dtype='object')

In [8]:
#性别列的描述性统计
df["性别"].describe()

count     57
unique     2
top        男
freq      30
Name: 性别, dtype: object

In [10]:
df["性别"].value_counts()

性别
男    30
女    27
Name: count, dtype: int64