In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv("学生成绩.csv",encoding="GBK")

df.head()

          学号    姓名    班级 性别  出生年份  籍贯  数学   语文  英语
0  166241101   童绮琴  信管19  男  2001  天津  99   71  65
1  166241102   酆友容  信管20  女  2002  广西  81   64  52
2  166241103  端木孤菱  信管21  男  2002  湖南  67   90  98
3  166241104   闳芳苓  信管22  女  2002  湖北  89  100  90
4  166241105   温靖易  信管23  女  2002  吉林  80   70  77

In [5]:
#生成成绩列
def get_score_cat(row):
    average = (row["数学"]+row["语文"]+row["英语"])/3
    if average<60:
        return "不及格"
    elif average>=90:
        return "优秀"
    elif average>=80:
        return "良好"
    else:
        return "及格"

df["成绩"] = df.apply(get_score_cat, axis=1)
df.head()

          学号    姓名    班级 性别  出生年份  籍贯  数学   语文  英语  成绩
0  166241101   童绮琴  信管19  男  2001  天津  99   71  65  及格
1  166241102   酆友容  信管20  女  2002  广西  81   64  52  及格
2  166241103  端木孤菱  信管21  男  2002  湖南  67   90  98  良好
3  166241104   闳芳苓  信管22  女  2002  湖北  89  100  90  优秀
4  166241105   温靖易  信管23  女  2002  吉林  80   70  77  及格

In [6]:
#转换为分类型
df["成绩"]=df["成绩"].astype("category")

In [8]:
#查看性别列的类型
df["成绩"].dtype

CategoricalDtype(categories=['不及格', '优秀', '及格', '良好'], ordered=False, categories_dtype=object)

In [9]:
df["成绩"]=df["成绩"].cat.reorder_categories(["不及格","及格","良好","优秀"],ordered=True)

In [13]:
df["成绩"].dtype

CategoricalDtype(categories=['不及格', '及格', '良好', '优秀'], ordered=True, categories_dtype=object)

In [14]:
#获取所有不同的类别
df["成绩"].cat.categories

Index(['不及格', '及格', '良好', '优秀'], dtype='object')

In [20]:
#成绩列的描述性统计
df["成绩"].value_counts()

成绩
及格     40
良好     15
不及格     1
优秀      1
Name: count, dtype: int64