In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("学生成绩.csv",encoding="GBK")

df.head()

          学号    姓名    班级 性别  出生年份  籍贯  数学   语文  英语
0  166241101   童绮琴  信管19  男  2001  天津  99   71  65
1  166241102   酆友容  信管20  女  2002  广西  81   64  52
2  166241103  端木孤菱  信管21  男  2002  湖南  67   90  98
3  166241104   闳芳苓  信管22  女  2002  湖北  89  100  90
4  166241105   温靖易  信管23  女  2002  吉林  80   70  77

In [3]:
#生成成绩列
average = (df["数学"]+df["语文"]+df["英语"])/3
df["成绩"]=pd.cut(average,[0,60,80,90,100],labels=["不及格","及格","良好","优秀"])
df.head()

          学号    姓名    班级 性别  出生年份  籍贯  数学   语文  英语  成绩
0  166241101   童绮琴  信管19  男  2001  天津  99   71  65  及格
1  166241102   酆友容  信管20  女  2002  广西  81   64  52  及格
2  166241103  端木孤菱  信管21  男  2002  湖南  67   90  98  良好
3  166241104   闳芳苓  信管22  女  2002  湖北  89  100  90  优秀
4  166241105   温靖易  信管23  女  2002  吉林  80   70  77  及格

In [4]:
df["成绩"].dtype

CategoricalDtype(categories=['不及格', '及格', '良好', '优秀'], ordered=True, categories_dtype=object)