In [5]:
import pandas as pd
import numpy as np

In [6]:
# 从scikit-learn库中导入iris样本数据集
from sklearn.datasets import load_iris

iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)

#显示前4条数据
df.head(4)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2

## 描述性统计

### describe
在探索性数据分析中，我们可以直接使用**describe**方法查看Series或DataFrame各列的描述性统计信息。

对于元素类型为数值型和时间型的Series，describe方法会显示均值、标准差、最大值、最小值、各四分位数（50%分位数就是中位数）等统计信息。在缺省的情况下，describe只会列出DataFrame中类型为数值型和时间型的各列。

In [7]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

### 其他描述性统计

除了**describe**外, DataFrame提供了一系列方法可以逐列计算对应的统计量
 * **count**计算非NA的元素个数
 * **sum**计算元素的和
 * **mean**计算均值
 * **median**计算中位数
 * **min**和**max**计算最大值和最小值
 * **idxmin**和**idxmax**返回最大值和最小值所在的位置
 * **mode**计算众数
 * **prod**计算所有元素的乘积
 * **std**计算标准差
 * **var**计算方差
 * **sem**计算标准误
 * **skew**计算偏度（三阶矩）
 * **kurt**计算峰度（四阶矩）
 * **quantile** 计算分位数

In [9]:
# 从scikit-learn库中导入iris样本数据集
from sklearn.datasets import load_iris

iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)

df.var()

sepal length (cm)    0.685694
sepal width (cm)     0.189979
petal length (cm)    3.116278
petal width (cm)     0.581006
dtype: float64