In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("bank_stock.csv", encoding="GBK")

df.head()

,日期,股票代码,名称,收盘价,最高价,最低价,开盘价,前收盘,涨跌额,涨跌幅,换手率,成交量,成交金额,总市值,流通市值
0,2019-02-15,'600000,浦发银行,10.66,10.85,10.66,10.78,10.82,-0.16,-1.4787,0.0632,17758789,190960435.0,3.128932e+11,2.995861e+11
1,2019-02-14,'600000,浦发银行,10.82,10.91,10.80,10.85,10.86,-0.04,-0.3683,0.0705,19815286,215023175.0,3.175895e+11,3.040827e+11
2,2019-02-13,'600000,浦发银行,10.86,10.93,10.68,10.74,10.72,0.14,1.3060,0.1076,30248695,325845959.0,3.187636e+11,3.052069e+11
3,2019-02-12,'600000,浦发银行,10.72,10.73,10.63,10.71,10.70,0.02,0.1869,0.0597,16769601,179099038.0,3.146543e+11,3.012723e+11
4,2019-02-11,'600000,浦发银行,10.70,10.73,10.62,10.62,10.77,-0.07,-0.6500,0.0719,20216568,215903077.0,3.140673e+11,3.007103e+11

In [2]:
df["日期"]=pd.to_datetime(df["日期"])

In [3]:
df.dtypes

日期      datetime64[ns]
股票代码            object
名称              object
收盘价            float64
最高价            float64
最低价            float64
开盘价            float64
前收盘            float64
涨跌额            float64
涨跌幅            float64
换手率            float64
成交量              int64
成交金额           float64
总市值            float64
流通市值           float64
dtype: object

In [4]:
#获取年份
df["日期"].dt.year

0       2019
1       2019
2       2019
3       2019
4       2019
        ...
1243    2014
1244    2014
1245    2014
1246    2014
1247    2014
Name: 日期, Length: 1248, dtype: int32

In [5]:
#计算相差的天数
diff=df["日期"]-pd.to_datetime("2018-1-1")
diff.dt.days

0        410
1        409
2        408
3        407
4        406
        ...
1243   -1454
1244   -1455
1245   -1456
1246   -1459
1247   -1460
Name: 日期, Length: 1248, dtype: int64

In [6]:
#计算相差的月份
end_date = pd.to_datetime("2018-1-1")
(df["日期"].dt.year-end_date.year)*12+(df["日期"].dt.month-end_date.month)

0       13
1       13
2       13
3       13
4       13
        ..
1243   -48
1244   -48
1245   -48
1246   -48
1247   -48
Name: 日期, Length: 1248, dtype: int32