In [2]:
import matplotlib.pyplot as plt
import matplotlib as mpl

#使用中文字体
mpl.rcParams['font.family']=['Microsoft Yahei','sans-serif']
mpl.rcParams['axes.unicode_minus']=False

#使用svg格式，避免图形模糊
%matplotlib inline
%config InlineBackend.figure_format="svg"

In [37]:
import pandas as pd
df = pd.read_csv("housing.csv")
df = df[["latitude", "longitude"]]
df

       latitude  longitude
0         37.88    -122.23
1         37.86    -122.22
2         37.85    -122.24
3         37.85    -122.25
4         37.85    -122.25
...         ...        ...
20635     39.48    -121.09
20636     39.49    -121.21
20637     39.43    -121.22
20638     39.43    -121.32
20639     39.37    -121.24

[20640 rows x 2 columns]

In [38]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=6)
df["Cluster"] = kmeans.fit_predict(df)
df["Cluster"] = df["Cluster"].astype("category")