In [1]:
import matplotlib.pyplot as plt
import matplotlib as mpl

#使用中文字体
mpl.rcParams['font.family']=['Microsoft Yahei','sans-serif']
mpl.rcParams['axes.unicode_minus']=False

#使用svg格式，避免图形模糊
%matplotlib inline
%config InlineBackend.figure_format="svg"

In [2]:
import pandas as pd
df = pd.read_csv("bank.csv")
df.head()

,age,default,balance,housing,loan,day,month,campaign,pdays,previous,...,marital_single,education_primary,education_secondary,education_tertiary,contact_cellular,contact_telephone,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,27,False,35,False,False,4,7,1,-1,0,...,True,False,True,False,True,False,False,False,False,True
1,54,False,466,False,False,4,7,1,-1,0,...,False,True,False,False,True,False,False,False,False,True
2,43,False,105,False,False,4,7,2,-1,0,...,False,False,True,False,True,False,False,False,False,True
3,31,False,19,False,False,4,7,2,-1,0,...,True,False,True,False,False,True,False,False,False,True
4,27,False,126,False,False,4,7,4,-1,0,...,True,False,True,False,True,False,False,False,False,True

In [3]:
x = df.drop(columns=["y"])
y = df["y"]

In [4]:
#将数据分为训练集和验证集
from sklearn.model_selection import train_test_split

train_x,val_x,train_y,val_y=train_test_split(
    x,y,train_size=0.7)

In [5]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=200)
model = model.fit(train_x, train_y)

In [6]:
# 计算模型的指标值
from sklearn.metrics import classification_report
classification_report(val_y,model.predict(val_x), output_dict=True)

{'False': {'precision': 0.8783799072293246,
  'recall': 0.9820389577536048,
  'f1-score': 0.9273215885338907,
  'support': 7906.0},
 'True': {'precision': 0.6728110599078341,
  'recall': 0.21360643745427946,
  'f1-score': 0.3242642976124375,
  'support': 1367.0},
 'accuracy': 0.8687587619971961,
 'macro avg': {'precision': 0.7755954835685793,
  'recall': 0.5978226976039421,
  'f1-score': 0.6257929430731641,
  'support': 9273.0},
 'weighted avg': {'precision': 0.8480755166018601,
  'recall': 0.8687587619971961,
  'f1-score': 0.8384205514704132,
  'support': 9273.0}}