In [12]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import matplotlib as mpl

#使用中文字体
mpl.rcParams['font.family']=['Microsoft Yahei','sans-serif']
mpl.rcParams['axes.unicode_minus']=False

#使用svg格式，避免图形模糊
%matplotlib inline
%config InlineBackend.figure_format="svg"

In [13]:
#导入数据
df = pd.read_csv("students.csv")
df.head()

,ids,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,Weight,...,English,Reading,Math,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime
0,43783,3/22/1995,,,,,0,0,72.35,,...,88.24,81.5,60.02,81.44,In state,1,,,7,1
1,20278,1/1/1995,,,,Philosophy,0,0,70.66,179.2,...,89.45,85.25,70.19,73.27,,1,,,5,2
2,20389,12/31/1994,,,,,0,0,70.68,198.52,...,96.73,86.88,71.2,84.24,In state,,,,8,7
3,22820,12/1/1994,,,,business administration,1,0,,198.34,...,74.06,88.68,55.89,73.16,In state,1,,,2,6
4,24559,11/10/1994,,,,,1,1,67.43,128.17,...,82.61,77.3,65.52,80.45,Out of state,1,,,7,3

In [14]:
df["Sprint"].describe()

count     435
unique    361
top
freq       61
Name: Sprint, dtype: object

In [15]:
df["Sprint"]=df["Sprint"].astype("float")

ValueError: could not convert string to float: ' '

In [38]:
#将缺失值替换为np.nan，然后将Sprint列改为浮点型
df["Sprint"] = df["Sprint"].replace(' ',np.nan)
df["Sprint"] = df["Sprint"].astype("float")

df["Sprint"].describe()

count    374.000000
mean       6.581933
std        1.227069
min        4.503000
25%        5.587500
50%        6.569000
75%        7.458000
max        9.597000
Name: Sprint, dtype: float64

In [37]:
#用均值填充
from sklearn.impute import SimpleImputer

imp = SimpleImputer(missing_values=np.nan, strategy='mean')
result  = imp.fit_transform(df[["Sprint"]])
df1 = pd.DataFrame(result, columns = imp.get_feature_names_out())

df1.describe()

           Sprint
count  435.000000
mean     6.581933
std      1.137571
min      4.503000
25%      5.671000
50%      6.581933
75%      7.304000
max      9.597000

In [46]:
df = df[~df["Sprint"].isna()]
df["Sprint"]

0      7.978
1      8.004
3      8.473
5      4.650
6      4.750
       ...
428    7.819
429    7.036
431    9.125
433    6.905
434    6.233
Name: Sprint, Length: 374, dtype: float64