In [23]:
import matplotlib.pyplot as plt
import matplotlib as mpl

#使用中文字体
mpl.rcParams['font.family']=['Microsoft Yahei','sans-serif']
mpl.rcParams['axes.unicode_minus']=False

#使用svg格式，避免图形模糊
%matplotlib inline
%config InlineBackend.figure_format="svg"

In [24]:
import pandas as pd
df=pd.read_csv("default.csv",index_col="no")
df.head()

   default student      balance        income
no
1       No      No   729.526495  44361.625074
2       No     Yes   817.180407  12106.134700
3       No      No  1073.549164  31767.138947
4       No      No   529.250605  35704.493935
5       No      No   785.655883  38463.495879

In [25]:
df["student"].astype("category")

no
1         No
2        Yes
3         No
4         No
5         No
        ...
9996      No
9997      No
9998      No
9999      No
10000    Yes
Name: student, Length: 10000, dtype: category
Categories (2, object): ['No', 'Yes']

In [26]:
df["default"].astype("category")

no
1        No
2        No
3        No
4        No
5        No
         ..
9996     No
9997     No
9998     No
9999     No
10000    No
Name: default, Length: 10000, dtype: category
Categories (2, object): ['No', 'Yes']

In [27]:
tmp = (df["default"] == 'Yes')
df["default"] = tmp.astype(int)
df

       default student      balance        income
no
1            0      No   729.526495  44361.625074
2            0     Yes   817.180407  12106.134700
3            0      No  1073.549164  31767.138947
4            0      No   529.250605  35704.493935
5            0      No   785.655883  38463.495879
...        ...     ...          ...           ...
9996         0      No   711.555020  52992.378914
9997         0      No   757.962918  19660.721768
9998         0      No   845.411989  58636.156984
9999         0      No  1569.009053  36669.112365
10000        0     Yes   200.922183  16862.952321

[10000 rows x 4 columns]

# Logit回归

In [32]:
from statsmodels.formula.api import logit
model = logit("default ~ C(student) + income + balance", data=df)
res = model.fit()
res.summary()

Optimization terminated successfully.
         Current function value: 0.078577
         Iterations 10

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                default   No. Observations:                10000
Model:                          Logit   Df Residuals:                     9996
Method:                           MLE   Df Model:                            3
Date:                Sat, 27 Apr 2024   Pseudo R-squ.:                  0.4619
Time:                        17:12:14   Log-Likelihood:                -785.77
converged:                       True   LL-Null:                       -1460.3
Covariance Type:            nonrobust   LLR p-value:                3.257e-292
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept           -10.8690      0.492    -22.079      0.000     -11.834      -9.904
C(student)[T.Yes]    -0.6468      0.236     -2.738      0.006      -1.110      -0.184
income             3.033e-06    8.2e-06      0.370      0.712    -1.3e-05    1.91e-05
balance               0.0057      0.000     24.737      0.000       0.005       0.006
=====================================================================================

Possibly complete quasi-separation: A fraction 0.15 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""